services:
  couchdb:
    build:
      context: .
      dockerfile: database/Dockerfile
    image: papaya-couchdb
    env_file:
      - ./.env
    environment:
      # Custom image uses papaya.couchdb.ini (disables Admin Party, couch_per_user, JWT)
      PAPAYA_COUCHDB_ADMIN_USER: ${PAPAYA_COUCHDB_ADMIN_USER:-papaya}
      PAPAYA_COUCHDB_ADMIN_PASS: ${PAPAYA_COUCHDB_ADMIN_PASS:-admin}
      PAPAYA_AUTH_TOKEN_SECRET: ${PAPAYA_AUTH_TOKEN_SECRET}
    ports:
      - "${PAPAYA_COUCHDB_PORT:-5984}:5984"
    volumes:
      - couchdb_data:/opt/couchdb/data

  server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # Must match PAPAYA_STATIC_ASSETS_DIR in .env so runtime serves from the path we copied to
        PAPAYA_STATIC_ASSETS_DIR: ${PAPAYA_STATIC_ASSETS_DIR:-/var/www/papaya}
    env_file:
      - ./.env
    environment:
      # Reach CouchDB by service name when running in compose
      PAPAYA_COUCHDB_HOST: couchdb
      PAPAYA_COUCHDB_PORT: ${PAPAYA_COUCHDB_PORT:-5984}
      PAPAYA_SERVER_PORT: ${PAPAYA_SERVER_PORT:-9475}
      PAPAYA_AUTH_TOKEN_SECRET: ${PAPAYA_AUTH_TOKEN_SECRET}
      PAPAYA_AUTH_REFRESH_SECRET: ${PAPAYA_AUTH_REFRESH_SECRET}
      PAPAYA_DATABASE_VENDOR: ${PAPAYA_DATABASE_VENDOR:-fridayflag/papaya}
    ports:
      - "${PAPAYA_SERVER_PORT:-1234}:${PAPAYA_SERVER_PORT:-1234}"
    volumes:
      - server_data:${PAPAYA_CONFIG_DIR:-/etc/papaya}
    depends_on:
      - couchdb

volumes:
  couchdb_data:
  server_data:
